In [1]:
#Q1
'''[] is a list , the empty list value that contains no items'''

'[] is a list , the empty list value that contains no items'

In [6]:
#Q2
'''we assign it as spam[2] = "hello"'''
spam =[2,4,6,8,10]
spam[2] = "hello"
spam

[2, 4, 'hello', 8, 10]

In [7]:
#Q3
'''the value of spam[int(int('3'*2)/11)] is "d" '''

'the value of spam[int(int(\'3\'*2)/11)] is "d" '

In [8]:
#Q4
'''the value of spam[-1] is "d" '''

'the value of spam[-1] is "d" '

In [10]:
#Q5
'''the value of spam[:2] is ['a', 'b'] '''

"the value of spam[:2] is ['a', 'b'] "

In [11]:
#Q6
'''the value of bacon.index('cat') is 1 '''

"the value of bacon.index('cat') is 1 "

In [13]:
#Q7
'''the list value in bacon changes to [3.4, 'cat', 11, 'cat', True, 99] '''

"the list value in bacon changes to [3.4, 'cat', 11, 'cat', True, 99] "

In [14]:
#Q8
'''the list value in bacon changes to [3.4, 11, 'cat', True]'''

"the list value in bacon changes to [3.4, 11, 'cat', True]"

In [15]:
#Q9
'''list concatination adds the lists
list replication multiplies the list
the operators of list concatination and replication  are  "+" and " * "'''

'list concatination adds the lists\nlist replication multiplies the list\nthe operators of list concatination and replication  are  "+" and " * "'

In [16]:
#Q10
'''the append() list method adds values to the end of the list
the insert() list method adds a value anyhwere inside a list'''

'the append() list method adds values to the end of the list\nthe insert() list method adds a value anyhwere inside a list'

In [17]:
#Q11
''' del() statement and remove() statement'''

' del() statement and remove() statement'

In [18]:
#Q12
'''len() function, concatination and replication are the functions identical between the list and string'''

'len() function, concatination and replication are the functions identical between the list and string'

In [19]:
#Q13
'''list are mutable and
tuples are immutable'''

'list are mutable and\ntuples are immutable'

In [24]:
#Q14
'''we type it as t = (42,)'''

'we type it as t = (42,)'

In [25]:
#Q15
'''we assign tuple(list name) to get the list value tuple form and
we assign list(tuple name) to get the tuple value as list form'''

'we assign tuple(list name) to get the list value tuple form and\nwe assign list(tuple name) to get the tuple value as list form'

In [26]:
#Q15 example
#list value to tuple form
test = [1,2,3,4]
t1 = tuple(test)
print(t1)
#tuple value to list form
test1 = (5,6,7,8)
t2 = list(test1)
print(t2)

(1, 2, 3, 4)
[5, 6, 7, 8]

In [27]:
#Q16
'''they contain items'''

'they contain items'

In [ ]:
#Q17
'''copy.copy() is a shallow copy and 
copy.deepcopy() is a deep copy'''